@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.floatingImage {
  animation: float 3s ease-in-out infinite !important;
}
